/*Base stylings*/

html {
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
}

h1 {
    color: black;
}

/*Layout*/

.heading {
    text-align: center;
}
/*Modules*/

/*Theme*/

/*Smallonly*/
@media screen and (max-width:39.9375em){}

/*Mediumandup*/ 
@media screen and (min-width:40em){}

/*Mediumonly*/
@media screen and (min-width: 40em) and (max-width: 63.9375em){}

/*Largeandup*/
@media screen and (min-width: 64em){}

/*Largeandup*/
@media screen and (min-width: 64em) and (max-width: 74.9375em){}