/*Base stylings*/

html {
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
}

h1 {
    color: black;
}

.about-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.about-icons {
    width: 6rem;
    height: 6rem;
    display: block;
    margin: auto;
}



/*Layout*/

.heading {
    text-align: center;
}

.heading-tag {
    text-align: center;
    }

b {
    color: #1eafde;
}
/*Smallonly*/
@media screen and (max-width:39.9375em){
    .navbar {
        display: none;
    }
    .slider {
        display: none;
    }
    .fa-bars {
        font-size: 1.75rem;
        margin-top: 2rem;
        margin-left: 2rem;
        color: white;
        padding: .25rem;
        background-color: #3492bb;
    }
    .logoimg {
        width: 20rem;
    }
  .m-1-2 {
      display: flex;
  }

  .s-col-3 {
    grid-template-columns: 4, 1fr;
    display: flex;
  }

  .thingsofabove {
      display: none;
  }
  .sample-menu {
      display: none;
  }
  .tabs {
      display:none;
  }
  .sponsers {
      display: none;
  }

  .icon-img {
      display: flex;
  }
}

/*Mediumandup*/ 
@media screen and (min-width:40em){

    
    .hamburger-menu {
        display: none;
    }
    .navbar {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        display: flex;
        flex: 1;
    }

    .icons {
        color: white;
        display: flex;
        padding: .50rem;
        float:left;      
        text-align: center;
        flex: 1;
        
    }

    .nav-name{
        font-family: 'Ubuntu', sans-serif;
    }

    .home {
        background-color: #25c389;
    }

    .pages {
        background-color: #ffb901;
    }
  
    .blog {
        background-color: #de6262;
    }

    .portfolio {
        background-color: #1691bd;
    }
 
    .contact {
        background-color: #166ba2;
    }


    .row {
        display: grid;
        width: 85vw;
        max-width: 70rem;
        margin: 0 auto;
        }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/*Mediumonly*/
@media screen and (min-width: 40em) and (max-width: 63.9375em){
    .special-project {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/*Largeandup*/
@media screen and (min-width: 64em){

    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .no-show {
        display: none;
    }
}

/*Largeandup*/
@media screen and (min-width: 64em) and (max-width: 74.9375em){}


/*Modules*/

/*Theme*/

.slider-img {
    background-color:#ebebeb;
}
.page__footer {
    background-color: #16242f;
    color: white;
}

