/*Base stylings*/

html {
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
}

h1 {
    color: black;
}

/*Layout*/

.heading {
    text-align: center;
}

.heading-tag {
    text-align: center;
    }

/*Smallonly*/
@media screen and (max-width:39.9375em){}

/*Mediumandup*/ 
@media screen and (min-width:40em){

    .row {
        display: grid;
        width: 85vw;
        max-width: 70rem;
        margin: 0 auto;
        }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/*Mediumonly*/
@media screen and (min-width: 40em) and (max-width: 63.9375em){
    .special-project {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/*Largeandup*/
@media screen and (min-width: 64em){

    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*Largeandup*/
@media screen and (min-width: 64em) and (max-width: 74.9375em){}


/*Modules*/

/*Theme*/

.slider-img {
    background-color:#ebebeb;
}
.page__footer {
    background-color: #16242f;
    color: white;
}
